[submodule "themes/next"]
	path = themes/next
	url = https://github.com/tkit1994/hexo-theme-next.git
	branch = master
[submodule "themes/hueman"]
	path = themes/hueman
	url = https://github.com/tkit1994/hexo-theme-hueman.git
	branch = master
